@inherits LayoutComponentBase
@inject MqttState MqttState

<style>
    .top-menu {
        display: flex;
        justify-content: space-between;
        min-width: 100%;
    }

    .top-left-menu, .top-right-menu {
        display: flex;
    }

    .top-left-menu {
        
    }

    .top-right-menu {
        
    }
</style>


<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <div class="top-menu">
            <TopMenu />
        </div>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>