@inject MqttState MqttState
@inject MqttService MqttService
@using System.Linq.Expressions
@using MqttWeb.Data

<h3>Subscribe</h3>

<div class="form">
    <label>Topic</label><input @bind-value="@topic" @bind-value:event="oninput" />
    <label></label><button class="btn btn-primary" @onclick="Subscribe" disabled="@MqttState.IsSubscribedTo(topic)">Subscribe</button>
</div>

@functions {
    string topic;

    async Task Subscribe() {
        if (string.IsNullOrEmpty(topic)) return;
        var subscription = await MqttService.SubscribeAsync(this.topic);
    }
} 