<!-- @using System.Linq.Expressions
<label>@Label: <input @bind-value="@Value" @bind-value:event="oninput" /></label>

@functions {
    [Parameter] string Label { get; set; }
    [Parameter] string Value { get; set; }

    [Parameter] EventCallback<string> ValueChanged { get; set; }
    [Parameter] Expression<Func<string>> ValueExpression { get; set; }
} -->