<style>
    .top-left-menu {
        display: flex;
        justify-content: space-around;
    }

    .top-left-menu > * {
        margin-right: 10px;
    }
</style>

<div class="top-left-menu">
    <MqttConnect />
    <a class="btn btn-white" href="/configuration">
        <span class="oi oi-cog" aria-hidden="true"></span>
    </a>
</div>
<div class="top-right-menu">
    <a class="btn btn-white form-control" href="/log"><span class="oi oi-list"></span></a>
</div>

@functions {

}
