@page "/mqtt"
@inject MqttState MqttState
@inject MqttService MqttService


<button @onclick="@ExceptionTest">CRASH</button>

<MqttConnect />

@if (MqttState.IsConnected)
{
    <MqttPublish />
    <MqttSubscribe />
}

@functions {

    protected override async Task OnInitializedAsync()
    {
        MqttState.StateChanged += (o,s) => base.InvokeAsync(StateHasChanged);
    }

    private async Task ExceptionTest()
    {
        await MqttService.ExceptionTest();
    }
}