@page "/subscription/{topic}"
@using System.Linq
@inject MqttState MqttState
@inject NavigationManager NavigationManager

<h3>Messages @(subscription != null ? subscription.Topic : "")</h3>
@if (subscription != null)
{
    @foreach (var message in subscription.Messages) 
    {
        <div>@message.Received: @message.Payload</div>
    }
}

@functions { 
    MqttWeb.Services.MqttSubscription subscription;

    [Parameter] public string topic { get; set; } 

    protected override void OnInitialized() {

        var subscriptions = MqttState.Subscriptions.Where(s => s.UrlSafeTopic == topic);

        if (subscriptions.Count() != 1) {
            NavigationManager.NavigateTo("/mqtt");
        }

        subscription = subscriptions.Single();
    }
}